.image-slider{
    position: relative;
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-img{
    position: absolute;
    height: 50vh;
    min-width: 100%;
    object-fit: cover;
}