.sidebar{
    height: 90vh;
    width: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px 20px 10px;
    animation: sidebarVisit 0.5s;
}
.sidebar-close-icon{
    align-self: self-start;
    color: #000000;
    animation: closeSidebarIcon 0.8s;
    cursor: pointer;
}
.sidebar-part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #000000;
    animation: sidebarItemVisit 1.3s;
}
.sidebar-item{
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s all ease;
}
.sidebar-item:hover{
    transform: scale(1.05);
}
.sidebar-part2{
    padding: 2px 4px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.735);
    font-size: 20px;
}

@keyframes sidebarItemVisit {
    0%{
        opacity: 0;
        left: -40px;
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}
@keyframes closeSidebarIcon {
    0%{
        opacity: 0;
        font-size: 0px;
    }
    100%{
        opacity: 1;
        font-size: 30px;
    }
}
@keyframes sidebarVisit {
    0%{
        width: 0px;
    }
    100%{
        width: 350px;
    }
}