.sidebar {
  position: fixed;
  top: 56px; /* Adjust this value based on the actual height of your navbar */
  left: 0;
  height: calc(
    100vh - 60px
  ); /* Adjust this value to match the height of your navbar */
  width: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 20px 10px;
  animation: sidebarVisit 0.5s;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

@keyframes sidebarItemVisit {
  0% {
    opacity: 0;
    left: -40px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes sidebarVisit {
  0% {
    width: 0px;
  }
  100% {
    width: 350px;
  }
}

.overlay {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.733);
  z-index: 1000; /* Ensure the overlay is below the sidebar */
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.overlay.visible {
  opacity: 1;
  pointer-events: all;
}
